@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";



@utility flex-center {
    @apply flex items-center justify-center; 
}

@utility flex-between {
    @apply flex items-center justify-between; 
}

@utility flex-icenter {
    @apply flex items-center; 
}
@utility max-w-center {
    @apply max-w-7xl mx-auto
}



body{
background-color: #ebf4fd;
font-family: 'Roboto', sans-serif;
}


/* skeleton loading for details */
@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

.shimmer {
  position: relative;
  overflow: hidden;
}

.shimmer::after {
  content: "";
  position: absolute;
  inset: 0;
  transform: translateX(-100%);
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255,255,255,0.7),
    transparent
  );
  animation: shimmer 1.5s infinite;
}